<div class="modifier-select-container">
  {{#each modifiertype as |type|}}
    {{modifier-select modifiertype=type modifierSelected="modifierSelected"}}
  {{/each}}
</div>

<table class="matching-codes">

  {{#if onlyOneEnabledModifiercombination }}
    <tr><td colspan=2>
        <div class="spiny">
          <img src="assets/images/spiny.gif">
      </div>
    </td></tr>
  {{/if}}

  {{#each enabledModifiercombinations as |combination|}}
  <tr>
    <td>{{combination.I10_TITLE}}</td>
    <td>{{combination.I10_CODE}}</td>
  </tr>
  {{/each}}
</table>

