<div>
  Search: {{input value=query}}
</div>

<div>
  <table>
    {{#each medicalCodes as |medicalCode|}}
      <tr>
        <td><a {{action 'codeSelected' medicalCode}}>{{medicalCode.description}}</a></td>
      </tr>
    {{/each}}
  </table>
</div>
