body {
  font-family: sans-serif;
}

.search-input {
  margin-bottom: 2em;
}

.modifier-select-container {
  display: flex;
}

.modifier-select {
  padding-right: 1em;
}

.modifier-select-list {
  margin-top: 1em;
}

.matching-codes {
  margin-top: 2em;
}

.modifier-title {
  height: 3em;
}

