<div class="modifier-select-container">
  {{#each modifiertype as |type|}}
    {{modifier-select modifiertype=type modifierSelected="modifierSelected"}}
  {{/each}}
</div>

<table class="matching-codes">
  {{#each enabledModifiercombinations as |combination|}}
  <tr>
    <td>{{combination.I10_TITLE}}</td>
    <td>{{combination.I10_CODE}}</td>
  </tr>
  {{/each}}
</table>

